@charset "utf-8";

#img-switch, #movie-switch {
  .inner {
    width: 700px;
    @include mq($mqTAB01) {
      width: 90%;
    }
  }
}

/* 切り替え共通 */
.main-img {
  margin: 0 auto 20px;
  text-align: center;
  img {
    width: 100%;
  }
}

.thumb-img {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  li {
    width: 30%;
  }
}

/* 切り替え01 */

/* 切り替え02 */
#movie-switch {
  #mainImg02 {
    li {
      display: none;
    }
    .is-current-movie {
      display: block;
    }
  }
  .movie-box {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* 切り替え03 */
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .color01 {
    background-color: #fff65e;
  }
  .color02 {
    background-color: #cbda00;
  }
  .color03 {
    background-color: #f5b6b5;
  }
  label {
    width: calc(600px/3);
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    @include mq($mqTAB01) {
      width: calc(100%/3);
    }
    &:hover {
      opacity: 0.75;
    }
  }
  &__content {
    display: none;
    padding: 40px;
    clear: both;
    overflow: hidden;
    width: 100%;
  }
}

input[name="tabs__item"] {
  display: none;
}
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*
~:親要素が同じになる兄弟関係の弟に適用されるセレクタ
*/

.tabs input:checked + .tabs__item {
}
.tabs input:checked + .tabs__content{
}